body {
  font-family: "Arial", sans-serif;
  background-color: #e9efec; /* Light background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #16423c; /* Dark teal for the heading */
}

.cake {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 20px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #16423c; /* Dark teal for the button */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6a9c89; /* Lighter green when hovering */
}

#birthdayWish {
  margin-top: 20px;
  font-size: 18px;
  color: #6a9c89; /* Softer green for the birthday wish text */
}

.hidden {
  display: none;
}
